<div class="row">
  <% videos.each_with_index do |video, index| %>
    <% if index > 0 && (index) % 3 == 0 %>
      </div>
      <div class="row">
    <% end %>
    <div class="col-md-4 video-preview <%= 'end' if video == videos.last %>">
      <p>
        <%= link_to video_path(video) do %>
          <%= image_tag video.thumbnail, alt: video.title %><br />
          <%= video.title %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<div class='text-center'>
  <% unless defined?(no_paginate) && no_paginate %>
    <%= will_paginate videos %>
  <% end %>
</div>
