<h3>Submit Video</h3>
<%= form_for :video_link do |f| %>
  <%= f.input :link, label: "First, paste a link (YouTube or Vimeo only)" %>
  <%= f.button :submit, "Go", { id: "video-link-go" } %>
<% end %>

<div id="video-preview" class="row">
</div>

<%= form_for @video, validate: true do |f| %>
  <hr>
  <p id="youtube-text">
    Nice work! You can add more segments (if the video is in multiple parts) by pasting more links above. Or, fill in the metadata below and click Create Video.
  </p>
  <p id="vimeo-text">
    Nice work! Fill in the metadata below and click Create Video.
  </p>
  <%= f.hidden_field :key %>
  <%= f.hidden_field :provider %>
  <%= f.hidden_field :thumbnail %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :debate_level, label: "Level", collection: Video.debate_levels_select, required: true %>
      <%= f.input :debate_type, label: "Debate Type", collection: Video.debate_types_select, required: true %>
      <%= f.input :year, as: :integer, label: "Year", input_html: { maxlength: 4 }, required: true %>
      <div id="tournament-select">
        <%= f.input :tournament, label: "Tournament", input_html: { class: "tournament-select" }, required: true %>
      </div>
      <%= f.input :tags_ids, label: "Tags (Policy, Kritik, Nietzsche, etc.)", input_html: { class: "tag-select" } %>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <h4>Affirmative Team</h4>
      <%= f.input :aff_school, label: "School", input_html: { class: "school-select" }, required: true %>
      <div class="video-aff-debaters">
        <h4>Affirmative Debaters</h4>
        <%= f.input :aff_debater_one, label: "First Debater", input_html: { class: "aff-debater-select" }, required: true %>
        <%= f.input :aff_debater_two, label: "Second Debater", input_html: { class: "aff-debater-select" } %>
      </div>
    </div>
    <div class="large-6 columns">
      <h4>Negative Team</h4>
      <%= f.input :neg_school, label: "School", input_html: { class: "school-select" }, required: true %>
      <div class="video-neg-debaters">
        <h4>Negative Debaters</h4>
        <%= f.input :neg_debater_one, label: "First Debater", input_html: { class: "neg-debater-select" }, required: true %>
        <%= f.input :neg_debater_two, label: "Second Debater", input_html: { class: "neg-debater-select" } %>
      </div>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>