<h3>Search</h3>
Fill in one or more of the search fields below, then click Search!
<div id="search-terms">
  <%= simple_form_for :search do |f| %>
    <div class="row">
      <div class="large-2 small-6 columns">
        <%= f.input :year, label: "Year", collection: Tournament.years, required: false %>
      </div>
      <div class="large-2 small-6 columns">
        <%= f.input :tournament, label: "Tournament", input_html: { class: "tournament-select" }, required: false %>
      </div>
      <div class="large-2 small-6 columns">
        <%= f.input :school, label: "School", input_html: { class: "school-select" }, required: false %>
      </div>
      <div class="large-2 small-6 columns">
        <%= f.input :team, label: "Team", input_html: { class: "team-select" }, required: false %>
      </div>
      <div class="large-2 small-6 columns">
        <%= f.input :debater, label: "Debater", input_html: { class: "debater-select" }, required: false %>
      </div>
      <div class="large-2 small-6 columns end">
        <%= f.input :tag, label: "Tag", input_html: { class: "tag-select" }, required: false %>
      </div>
    </div>
    <div class="row">
      <div class="large-3 small-6 columns end">
        <%= f.button :submit, value: "Search" %>
      </div>
    </div>
  <% end %>
</div>
<hr>
<div id="search-results">
</div>