<li class="divider"></li>
<li><%= link_to 'FAQ', '/faq' %></li>
<li class="divider"></li>
<li><%= link_to 'Search', '#' %></li>
<li class="divider"></li>
<% if logged_in? %>
  <li class="has-dropdown no-click">
    <%= link_to "Videos", "#" %>
    <ul class="dropdown">
      <li><%= link_to 'My Videos', videos_path %></li>
      <li><%= link_to 'Submit Video', new_video_path %></li>
    </ul> 
  </li>
  <li class="divider"></li>
<% end %>