<nav class='white bg-black flex justify-between'>
  <div class='flex items-center'>
    <%= link_to 'Home', root_path, class: 'btn py2' %>
    <%= link_to 'FAQ', '/faq', class: 'btn py2' %>
    <%= link_to 'Search', '/search', class: 'btn py2' %>
  </div>
  <div class='flex px2'>
    <div class='xs-hide flex items-center'>
      <% if logged_in? %>
        <%= link_to 'Submit', new_video_path, class: 'btn py2' %>
        
        <%= link_to user_path(current_user), class: 'btn py2' do %>
          <%= image_tag current_user.avatar, alt: current_user.name, class: 'avatar' %>
          <%= current_user.name %>
        <% end %>

        <%= link_to 'Logout', logout_path, class: 'btn py2' %>
      <% else %>
        <div class='dropdown relative'>
          <button class='btn py2 dropdown-btn'>
            <div class='flex items-center nav-login-btn'>
              Login
              <i class='fa fa-angle-down ml1'></i>
            </div>
          </button>
          <div class='nav-dropdown absolute bg-white border border-gray rounded hidden'>
            <%= link_to 'Facebook', '/auth/facebook', class: 'block p1 text-decoration-none black' %>
            <%= link_to 'Twitter', '/auth/twitter', class: 'block p1 text-decoration-none black' %>
            <%= link_to 'Google', '/auth/google_oauth2', class: 'block p1 text-decoration-none black' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
