<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
  <div class="top-bar-section right login-hide-small">
    <ul>
      <% if logged_in? %>
        <li class="has-dropdown">
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.avatar, alt: current_user.name, class: 'avatar' %>
            <%= current_user.name %>
          <% end %>
          <ul class="dropdown">
            <li><%= link_to 'Logout', [:logout] %></li>
          </ul>
        </li>
      <% else %>
        <li class="divider"></li>
        <li>
          <%= link_to 'Login', '#', { id: 'login-nav' } %>
          <span id="login-btn">
            <%= link_to '/auth/facebook' do %>
              <%= image_tag 'fb.png', alt: 'Facebook', class: 'social-login fb' %>
            <% end %>
            <%= link_to '/auth/twitter' do %>
              <%= image_tag 'twitter.png', alt: 'Twitter', class: 'social-login twitter' %>
            <% end %>
            <%= link_to '/auth/google_oauth2' do %>
              <%= image_tag 'google.png', alt: 'Google+', class: 'social-login google' %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
